INDEED job data search:
Part 1:  project preparation. Build the basic url and get the web page, then show the structure of the website.

In [2]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd
import re

In [3]:
url = "https://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

page = requests.get(url)
soup = BeautifulSoup(page.text, 'lxml')

In [4]:
title="oracle database"
location = "Philadelphia"
num_entries = 20
url = f"https://www.indeed.com/jobs?q={title}&l={location}&start={num_entries}"
page = requests.get(url)
soup = BeautifulSoup(page.text, 'lxml')
#print(soup.prettify())

Build functions for job data search
<p>1. Define a function to get more data.</p>

In [8]:
entries = range(0, 50, 10) # how many pages we want to retrieve the data, the second number determines how many pages 
def get_data_soup_list(job_title, city, entries):
    soups = []
    for entry in entries:
        url= f"https://www.indeed.com/jobs?q={job_title}&l={city}&start={entry}"
        soup = BeautifulSoup(requests.get(url).text, 'lxml')
        soups.append(soup)
    return soups;

2. Define a function to retrieve data from indeed

In [9]:
def extract_job_title_from_result(soup):
    jobs = []
    for div in soup.find_all(name='div', attrs = {"class":"job_seen_beacon"}):
        tbody = div.find("tbody")  #go into the table body
        trs = tbody.find_all('tr')
        
        for tr in trs:
            td = tr.find('td', {"class":"resultContent"})

            job_title = tr.find('h2').text
            if job_title.startswith('new'):
                
                job_title = re.sub("^new","",job_title)
            
            company_name=tr.find('span', {"class":"companyName"}).text


            company_location = tr.find('div',{"class":"companyLocation"}).text
            


            if tr.find('div',{"class":"attribute_snippet"}):
                salary = tr.find('div',{"class":"attribute_snippet"}).text
            else:
                salary=None
            if tr.find('a', {"class":"turnstileLink companyOverviewLink"}):
                company_link = tr.find('a', {"class":"turnstileLink companyOverviewLink"})['href']
            else:
                company_link=None
            
            jobs.append((job_title, company_name, company_location, salary, company_link))

    return jobs;
extract_job_title_from_result(soup)

[('Human Resources Generalist II',
  'Crozer Health',
  'Springfield, PA 19064',
  'Full-time',
  '/cmp/Crozer-Health'),
 ('Oracle HCM Cloud Senior Associate',
  'PRICE WATERHOUSE COOPERS',
  'Philadelphia, PA 19103 (Logan Square area)+2 locations',
  None,
  '/cmp/Pwc'),
 ('Director - Software Dev',
  'Intellicomm Inc',
  'Wayne, PA',
  '$115,000 - $125,000 a year',
  None),
 ('Clinical RAVE Programmer', 'TCS', 'Philadelphia, PA', None, '/cmp/Tcs'),
 ('Business Analyst',
  'Software Methods, Inc.',
  'Audubon, PA 19403',
  'Contract',
  None),
 ('AWS DBA',
  'Deloitte',
  'Philadelphia, PA 19103 (Rittenhouse area)',
  'Full-time',
  '/cmp/Deloitte'),
 ('Cloud & Infrastructure Technical Consultant',
  'Instem plc',
  'Conshohocken, PA',
  'Full-time',
  None),
 ('Technology Consulting Associate - Summer/Fall 2022',
  'PRICE WATERHOUSE COOPERS',
  'Philadelphia, PA 19103 (Logan Square area)',
  None,
  '/cmp/Pwc'),
 ('Qlik Developer', 'NR Consulting LLC', 'Chesterbrook, PA', 'Contract', None),
 ('Developer', 'TCS', 'Philadelphia, PA', None, '/cmp/Tcs'),
 ('Oracle Functional ERP & OM Consultant',
  'Softnet Consulting Inc',
  'Philadelphia, PA',
  'Full-time',
  None),
 ('Integration Architect',
  'Jefferson - Center City, Philadelphia, PA',
  'Philadelphia, PA 19107 (City Center East area)',
  'Full-time',
  '/cmp/Thomas-Jefferson-University-and-Hospitals'),
 ('PeopleSoft Database Administrator II',
  'The Philadelphia Housing Authority',
  'Philadelphia, PA (North Central area)',
  'Full-time',
  None),
 ('Database Architect',
  'Certara',
  'Philadelphia, PA 19109 (City Center East area)',
  'Full-time',
  '/cmp/Certara'),
 ('Programmer Analyst, C/Unix',
  'CTDI',
  'West Chester, PA 19380',
  'Part-time +2',
  '/cmp/Ctdi')]

3. Define a function that we can search different location and different job titles

In [10]:
entries = range(0, 50, 10) # how many pages we want to retrieve the data, the second number determines how many pages 
def get_data_list(job_title, city, entries):
    jobs_list = []
    soups=get_data_soup_list(job_title, city, entries)

    for soup in soups:
        jobs = extract_job_title_from_result(soup)
        jobs_list.extend(jobs)

    return jobs_list

Use the function to find jobs about data scientists in Philadelphia.

In [11]:
jobs_list = get_data_list("data scientist", 'Philadelphia', entries)
jobs_list

[('Sr. Commercial Data Analyst',
  'Antares Pharma',
  'Newtown, PA',
  '$100,000 - $132,873 a year',
  '/cmp/Antares-Pharma'),
 ('Data Scientist',
  'Equity Risk Sciences, llc',
  'Philadelphia, PA•Remote',
  None,
  None),
 ('Investment Management Fintech Data Scientist',
  'Vanguard',
  'Malvern, PA+7 locations',
  None,
  '/cmp/Vanguard'),
 ('Clinical Laboratory Scientist II (Data Review / Quality Cont...',
  'Drugscan / ACM Global Laboratories',
  'Horsham, PA 19044',
  'Up to $25 an hour',
  None),
 ('Data Scientist II',
  'Burlington Stores',
  'Edgewater Park, NJ 08010',
  None,
  '/cmp/Burlington-Stores'),
 ('Data Scientist II',
  'Comcast',
  'Philadelphia, PA 19103+3 locations',
  None,
  '/cmp/Comcast'),
 ('Data Scientist - $200k (Python/R Tableau)',
  'CyberCoders',
  'Fort Washington, PA 19034',
  '$150,000 - $200,000 a year',
  '/cmp/Cybercoders'),
 ('REMOTE Customer Success Data Admin - $100k + 10% (SQL, BI)',
  'CyberCoders',
  'Philadelphia, PA 19140 (Hunting Park area)•Remote',
  '$80,000 - $100,000 a year',
  '/cmp/Cybercoders'),
 ('Data Scientist - Remote',
  'Liberty Personnel Services',
  'Trevose, PA•Remote',
  None,
  '/cmp/Liberty-Personnel-Services'),
 ('Data Scientist',
  'Cubesmart',
  'Malvern, PA 19355',
  None,
  '/cmp/Cubesmart-Self-Storage'),
 ('Data Scientist', 'HBSE', 'Camden, NJ', None, None),
 ('Senior Data Scientist',
  'Essent Guaranty, Inc.',
  'Radnor, PA 19087',
  None,
  '/cmp/Essent-Guaranty,-Inc.'),
 ('Senior Data Scientist - Senior Data Engineer',
  'Johnson & Johnson Family of Companies',
  'Horsham, PA',
  None,
  '/cmp/Johnson-&-Johnson'),
 ('Machine Learning Research Assistant',
  'Federal Reserve Bank of Philadelphia',
  'Philadelphia, PA 19106 (Old City area)',
  None,
  '/cmp/Federal-Reserve-Bank-of-Philadelphia'),
 ('Sports Statistician',
  'Life Time',
  'Mount Laurel, NJ 08054+1 location',
  None,
  '/cmp/Life-Time'),
 ('Principal Data Scientist - Janssen',
  'Johnson & Johnson Family of Companies',
  'Horsham, PA',
  None,
  '/cmp/Johnson-&-Johnson'),
 ('Data Scientist I - 64036',
  "Children's Hospital of Philadelphia",
  'Philadelphia, PA 19146 (Graduate Hospital area)+1 location',
  'Full-time',
  "/cmp/Children's-Hospital-of-Philadelphia-4"),
 ('Data Scientist - Nationwide Opportunities',
  'Amazon Web Services, Inc.',
  'Philadelphia, PA+1 location',
  '$114,700 a year',
  '/cmp/Amazon.com'),
 ('Senior Associate, Data Scientist',
  'KPMG',
  'Philadelphia, PA 19103 (Center City area)+4 locations',
  None,
  '/cmp/Kpmg'),
 ('Data Scientist 2',
  'Oracle',
  'West Conshohocken, PA 19428+1 location',
  None,
  '/cmp/Oracle'),
 ('EIO_Data Scientist Associate Sr.',
  'JPMorgan Chase Bank, N.A.',
  'Wilmington, DE+3 locations',
  'Full-time',
  '/cmp/Chase-2'),
 ('Data Scientist', 'Surya Systems', 'Exton, PA', None, None),
 ('Data Scientist - Fraud',
  'Radial, Inc.',
  'King of Prussia, PA 19406',
  None,
  '/cmp/Radial,-Inc.-1'),
 ('Mid-Level Data Scientist',
  'Freya Systems',
  'Media, PA 19063+1 location',
  'Full-time',
  None),
 ('Chief Data Scientist Predictive Analytics',
  'University of Pennsylvania Health System',
  'Philadelphia, PA 19104 (University City area)',
  'Full-time',
  '/cmp/University-of-Pennsylvania-Health-System'),
 ('Data Scientist/ Risk Modeler-Remote',
  'Moody’s',
  'West Chester, PA 19380•Remote',
  None,
  "/cmp/Moody's-Corporation"),
 ('Principal Statistician',
  'Johnson & Johnson Family of Companies',
  'Spring House, PA',
  None,
  '/cmp/Johnson-&-Johnson'),
 ('Senior Statistician',
  'Johnson & Johnson Family of Companies',
  'Spring House, PA+1 location•Remote',
  None,
  '/cmp/Johnson-&-Johnson'),
 ('Data Science and Digital Twin Lead',
  'Johnson & Johnson Family of Companies',
  'Spring House, PA+5 locations',
  None,
  '/cmp/Johnson-&-Johnson'),
 ('Sr Director, Data Platform Strategy - Data Science',
  'Johnson & Johnson Family of Companies',
  'Spring House, PA+7 locations',
  None,
  '/cmp/Johnson-&-Johnson'),
 ('Data Science and Digital Twin Lead',
  'Johnson & Johnson Family of Companies',
  'Spring House, PA+5 locations',
  None,
  '/cmp/Johnson-&-Johnson'),
 ('Machine Learning Engineer',
  'Harnham',
  'Philadelphia, PA',
  '$65,000 - $85,000 a year',
  '/cmp/Harnham'),
 ('Sr Director, Data Platform Strategy - Data Science',
  'Johnson & Johnson Family of Companies',
  'Spring House, PA+7 locations',
  None,
  '/cmp/Johnson-&-Johnson'),
 ('CCB - Risk-Card Machine Learning Data Scientist/Modeler- Sen...',
  'JPMorgan Chase Bank, N.A.',
  'Wilmington, DE',
  'Full-time',
  '/cmp/Chase-2'),
 ('Healthcare Data Scientist',
  'Clear Spring Health',
  'Philadelphia, PA',
  'Full-time',
  '/cmp/Clear-Spring-Health'),
 ('Customer Intelligence Data Scientist - Opportunity for Worki...',
  'VMware',
  'Philadelphia, PA+2 locations•Remote',
  'Full-time',
  '/cmp/Vmware'),
 ('Senior Data Scientist',
  'Merck',
  'West Point, PA',
  'Full-time',
  '/cmp/Merck'),
 ('Data Scientist, Biopharm Process Development',
  'GSK',
  'King of Prussia, PA 19406+9 locations',
  None,
  '/cmp/Glaxosmithkline'),
 ('Sr. Data Scientist',
  'Corcentric',
  'Willow Grove, PA 19001',
  'Full-time',
  '/cmp/Corcentric'),
 ('Senior Data Analyst',
  'University of Pennsylvania Health System',
  'Philadelphia, PA 19104 (University City area)',
  'Full-time',
  '/cmp/University-of-Pennsylvania-Health-System'),
 ('AI Machine Learning Engineering Asc - Entry Level',
  'LOCKHEED MARTIN CORPORATION',
  'King of Prussia, PA 19406+6 locations',
  None,
  '/cmp/Lockheed-Martin'),
 ('Senior Workday Data Analyst and Report Developer',
  'Wawa',
  'Wawa, PA',
  'Full-time',
  '/cmp/Wawa'),
 ('Research Statistician I',
  "Children's Hospital of Philadelphia",
  'Philadelphia, PA 19146 (Graduate Hospital area)',
  'Full-time',
  "/cmp/Children's-Hospital-of-Philadelphia-4"),
 ('(Associate) Consultant Data & Analytics (f/m/d)',
  'CAMELOT Management Consultants AG',
  'Philadelphia, PA•Remote',
  None,
  None),
 ('Data Scientist',
  'Alex’s Lemonade Stand Foundation',
  'Wynnewood, PA 19096•Remote',
  None,
  "/cmp/Alex's-Lemonade-Stand-Foundation"),
 ('Associate, Data Scientist Engineer - Advisory Data Organizat...',
  'KPMG',
  'Philadelphia, PA 19103 (Center City area)+3 locations',
  None,
  '/cmp/Kpmg'),
 ('Data Scientist - Philadelphia, PA(Remote)',
  'iknowvate technologies',
  'Philadelphia, PA•Remote',
  None,
  None),
 ('Sr Data Scientist, Applied Modeling',
  'Inspire',
  'Philadelphia, PA 19103 (Rittenhouse area)',
  None,
  '/cmp/Inspire'),
 ('Research Scientist, Data Products',
  'ConcertAI',
  'King of Prussia, PA 19406',
  'Full-time',
  None),
 ('Data Scientist', 'Dupont', 'Wilmington, DE 19803', None, '/cmp/Dupont'),
 ('Data Review Associate Scientist',
  'Piper Companies',
  'King of Prussia, PA',
  '$20 - $30 an hour',
  '/cmp/Piper-Companies'),
 ('Data Scientist',
  'Publicis Health Media',
  'Philadelphia, PA 19107 (Center City area)',
  'Full-time',
  '/cmp/Publicis-Health-Media'),
 ('Associate Enterprise Data Protection Engineer',
  'Pfizer',
  'Collegeville, PA 19426',
  'Full-time',
  '/cmp/Pfizer'),
 ('Director, Data Science',
  'PayPal',
  'Wilmington, DE 19810',
  'Full-time',
  '/cmp/Paypal'),
 ('Senior Data Scientist, Crime and Justice Policy Lab',
  'University of Pennsylvania',
  'Philadelphia, PA 19104 (University City area)',
  'Full-time',
  '/cmp/University-of-Pennsylvania'),
 ('Statistician',
  'Drexel University',
  'Philadelphia, PA 19104 (University City area)',
  'Full-time',
  '/cmp/Drexel-University'),
 ('Data Scientist, Consultant',
  'Deloitte',
  'Philadelphia, PA 19103 (Rittenhouse area)+13 locations',
  'Full-time',
  '/cmp/Deloitte'),
 ('Senior Clinical Data Analyst (US)',
  'CluePoints',
  'King of Prussia, PA 19406+1 location',
  None,
  None),
 ('Data Scientist - Philadelphia, PA(Remote)',
  'Apexon',
  'Philadelphia, PA•Remote',
  None,
  None),
 ('Data Scientist',
  'Chubb INA Holdings Inc.',
  'Philadelphia, PA 19106 (City Center East area)',
  'Full-time',
  '/cmp/Chubb'),
 ('Statistician',
  'Drexel University',
  'Philadelphia, PA 19104 (University City area)',
  None,
  '/cmp/Drexel-University'),
 ('Data Scientist, Consultant',
  'Deloitte',
  'Philadelphia, PA 19103 (Rittenhouse area)+13 locations',
  None,
  '/cmp/Deloitte'),
 ('Senior Clinical Data Analyst (US)',
  'CluePoints',
  'King of Prussia, PA 19406+1 location',
  None,
  None),
 ('Data Scientist - Philadelphia, PA(Remote)',
  'Apexon',
  'Philadelphia, PA•Remote',
  None,
  None),
 ('Data Scientist',
  'Chubb INA Holdings Inc.',
  'Philadelphia, PA 19106 (City Center East area)',
  None,
  '/cmp/Chubb'),
 ('Senior Data Analyst',
  'The Principal TAG',
  'Philadelphia, PA•Remote',
  '$55,579 - $75,149 a year',
  None),
 ('Machine Learning Engineer',
  'Cadent',
  'Philadelphia, PA 19102 (City Center West area)•Remote',
  None,
  '/cmp/Cadent'),
 ('Associate Data Science Director-Advanced Analytics',
  'IQVIA',
  'Plymouth Meeting, PA',
  None,
  '/cmp/Iqvia'),
 ('Sr Data Analyst',
  'Temple University Health System',
  'Philadelphia, PA',
  None,
  '/cmp/Temple-University-Health-System'),
 ('Assc Director - Data Scientist',
  'Moody’s',
  'West Chester, PA 19380+2 locations',
  None,
  "/cmp/Moody's-Corporation"),
 ('Senior Data Scientist', 'Vanguard', 'Malvern, PA', None, '/cmp/Vanguard'),
 ('Virtual Senior Data Scientist',
  'Deloitte',
  'Philadelphia, PA 19103 (Rittenhouse area)+1 location',
  None,
  '/cmp/Deloitte'),
 ('Sr. Marketing Data Scientist',
  'CNO Financial Group, Inc.',
  'Philadelphia, PA 19106 (City Center East area)',
  None,
  '/cmp/Cno-Financial-Group,-Inc.'),
 ('Data Scientist with Java & Python Exp',
  'The GBS Group',
  'Philadelphia, PA 19112 (Navy Yard area)',
  None,
  '/cmp/The-Gbs-Group'),
 ('Data Engineer',
  'Picwell, Inc.',
  'Philadelphia, PA 19103 (Rittenhouse area)•Remote',
  'From $90,000 a year',
  None)]

4. Write a function to store our data into MySQL. (reference: https://pynative.com/python-mysql-insert-data-into-database-table/)

In [94]:
def store_data_into_MySQL(jobs_list):
    import mysql.connector
    try:
        connection = mysql.connector.connect(host='localhost',
                                        database='DSCI511',
                                        user='sammy',
                                        password='dsci511')
        mysql_insert_query = """INSERT INTO Company (job_title,company_name, location, salary, url) VALUES (%s,%s,%s,%s,%s)"""
    
    
        cursor = connection.cursor()
        cursor.executemany(mysql_insert_query, jobs_list)
        connection.commit()
        print(cursor.rowcount, "Record inserted successfully into MySQL table")
    
    except mysql.connector.Error as error:
        print(error)
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

In [90]:
store_data_into_MySQL(jobs_list)

75 Record inserted successfully into MySQL table
MySQL connection is closed

5. Retrieve data from MySQL

In [97]:
def get_data_from_db(table_name):
    try: 
        connection = mysql.connector.connect(host='localhost',
                                         database='DSCI511',
                                         user='sammy',
                                         password='dsci511')
    
        my_query = f"SELECT * FROM {table_name}"
        cursor=connection.cursor()
        cursor.execute(my_query)
        records = cursor.fetchall()
        for row in records:
            print("ID: ", row[0])
            if row[1]:
                print("Job Title: ", row[1])
            else:
                print("Job title is not available.")
            if row[2]: 
                print("Company Name: ", row[2])
            else:
                print("Comapny Name is not available.")
            if row[3]:
                print("Location: ", row[3])
            else:
                print("Location is not available.")
            if row[4]:
                print('Salary: '+ row[4])
            else:
                print("Salary is not abailable.")
        connection.close()
        cursor.close()
    except mysql.connector.Error as error:
            print(error)
    finally: 
        if connection.is_connected():
            connection.close()
            cursor.close()
            print("MySQL connection is closed")

In [98]:
get_data_from_db("Company")

ID:  17
Job Title:  Data Scientist - Delta One Strats
Company Name:  Morgan Stanley
Location:  New York, NY+3 locations
Salary is not abailable.
ID:  18
Job Title:  Data Scientist II - Algorithmic Justice Specialist
Company Name:  American Civil Liberties Union
Location:  New York State+2 locations•Remote
Salary: $115,638 a year
ID:  19
Job Title:  Data Scientist
Company Name:  Alldus
Location:  New York, NY+2 locations•Remote
Salary is not abailable.
ID:  20
Job Title:  Sr Data Scientist
Company Name:  The Trade Desk
Location:  New York, NY 10003 (Greenwich Village area)
Salary is not abailable.
ID:  21
Job Title:  Research Scientist-Center for Data Science
Company Name:  New York University
Location:  New York, NY 10012 (Greenwich Village area)+4 locations
Salary is not abailable.
ID:  22
Job Title:  Data Scientist
Company Name:  RELX
Location:  New York, NY+1 location
Salary is not abailable.
ID:  23
Job Title:  Data Scientist I (CNN +)
Company Name:  WarnerMedia
Location:  New York, NY+2 locations
Salary is not abailable.
ID:  24
Job Title:  Marketing Data Scientist
Company Name:  Algarytm
Location:  New York, NY
Salary: Up to $177,548 a year
ID:  25
Job Title:  Predictive Maintenance Data Scientist
Company Name:  Corning
Location:  Corning, NY 14831
Salary is not abailable.
ID:  26
Job Title:  Data Scientist - IBM Garage - Summit 2022
Company Name:  IBM
Location:  New York, NY 10001 (Chelsea area)+1 location
Salary is not abailable.
ID:  27
Job Title:  DATA SCIENTIST
Company Name:  Sightly Enterprises
Location:  New York, NY
Salary is not abailable.
ID:  28
Job Title:  Data Scientist, Machine Learning - Search
Company Name:  Quizlet
Location:  New York, NY+1 location
Salary is not abailable.
ID:  29
Job Title:  Data Scientist, Affordable Electrification
Company Name:  Sidewalk Labs
Location:  New York, NY 10001 (Chelsea area)
Salary is not abailable.
ID:  30
Job Title:  Full Stack Data Scientist
Company Name:  nwo.ai
Location:  New York, NY 10001 (Chelsea area)•Temporarily Remote
Salary: $85,000 - $150,000 a year
ID:  31
Job Title:  Data Scientist
Company Name:  Hospital for Special Surgery
Location:  New York, NY 10021 (Upper East Side area)
Salary is not abailable.
ID:  62
Job Title:  Data Scientist - Remote
Company Name:  Liberty Personnel Services
Location:  Trevose, PA•Remote
Salary is not abailable.
ID:  63
Job Title:  Data Scientist - $200k (Python/R Tableau)
Company Name:  CyberCoders
Location:  Fort Washington, PA 19034
Salary: $150,000 - $200,000 a year
ID:  64
Job Title:  Senior Data Scientist
Company Name:  Harnham
Location:  Philadelphia, PA•Remote
Salary: $130,000 - $150,000 a year
ID:  65
Job Title:  Artificial Intelligence Developer
Company Name:  Liberty Personnel Services
Location:  Philadelphia, PA 19104 (Belmont area)•Remote
Salary is not abailable.
ID:  66
Job Title:  Data Scientist I
Company Name:  Children's Hospital of Philadelphia
Location:  Philadelphia, PA 19146 (Graduate Hospital area)+1 location
Salary is not abailable.
ID:  67
Job Title:  Data Scientist Coop
Company Name:  Comcast
Location:  Philadelphia, PA+1 location
Salary is not abailable.
ID:  68
Job Title:  Associate, Data Scientist Engineer - Advisory Data Organizat...
Company Name:  KPMG
Location:  Philadelphia, PA 19103 (Center City area)+3 locations
Salary is not abailable.
ID:  69
Job Title:  Mid-Level Data Scientist
Company Name:  Freya Systems
Location:  Philadelphia, PA+1 location
Salary is not abailable.
ID:  70
Job Title:  Data Scientist
Company Name:  Alex’s Lemonade Stand Foundation
Location:  Wynnewood, PA 19096•Remote
Salary is not abailable.
ID:  71
Job Title:  Data Scientist
Company Name:  Philadelphia 76ers
Location:  Camden, NJ
Salary is not abailable.
ID:  72
Job Title:  Data Scientist ML researcher
Company Name:  spar information systems
Location:  Philadelphia, PA•Temporarily Remote
Salary: $72,708 - $140,000 a year
ID:  73
Job Title:  Project Data Science and Machine Learning Engineer 2022 - Ph...
Company Name:  Lutron Electronics
Location:  Philadelphia, PA 19104 (University City area)
Salary is not abailable.
ID:  74
Job Title:  Data Scientist / Machine Learning Engineer (contract)
Company Name:  Pfizer
Location:  Collegeville, PA 19426
Salary is not abailable.
ID:  75
Job Title:  Associate Enterprise Data Protection Engineer
Company Name:  Pfizer
Location:  Collegeville, PA 19426
Salary is not abailable.
ID:  76
Job Title:  Data Scientist/Machine Learning Engineer
Company Name:  IQVIA
Location:  Philadelphia, PA
Salary is not abailable.
ID:  77
Job Title:  Associate Enterprise Data Protection Engineer
Company Name:  Pfizer
Location:  Collegeville, PA 19426
Salary is not abailable.
ID:  78
Job Title:  Data Scientist/Machine Learning Engineer
Company Name:  IQVIA
Location:  Philadelphia, PA
Salary is not abailable.
ID:  79
Job Title:  Data Scientist, Consultant
Company Name:  Deloitte
Location:  Philadelphia, PA 19103 (Rittenhouse area)+13 locations
Salary is not abailable.
ID:  80
Job Title:  Data Scientist Associate - Card Strategic Insights
Company Name:  JPMorgan Chase Bank, N.A.
Location:  Wilmington, DE+2 locations
Salary is not abailable.
ID:  81
Job Title:  Data Engineer with AI/ML
Company Name:  Deloitte
Location:  Philadelphia, PA 19103 (Rittenhouse area)
Salary is not abailable.
ID:  82
Job Title:  Customer Intelligence Data Scientist - Opportunity for Worki...
Company Name:  VMware
Location:  Philadelphia, PA+2 locations•Remote
Salary is not abailable.
ID:  83
Job Title:  Data Scientist 2
Company Name:  Oracle
Location:  West Conshohocken, PA 19428+1 location
Salary is not abailable.
ID:  84
Job Title:  Data Engineer
Company Name:  Picwell, Inc.
Location:  Philadelphia, PA 19103 (Rittenhouse area)•Remote
Salary: From $90,000 a year
ID:  85
Job Title:  ASSOCIATE SCIENTIST - NO BENCHWORK, MICROBIOLOGY DATA ENTRY
Company Name:  PPD
Location:  Collegeville, PA
Salary is not abailable.
ID:  86
Job Title:  Data Scientist
Company Name:  HBSE
Location:  Camden, NJ
Salary is not abailable.
ID:  87
Job Title:  Data Scientist II
Company Name:  Vanguard
Location:  Malvern, PA+7 locations
Salary is not abailable.
ID:  88
Job Title:  Data Scientist - Fraud
Company Name:  Radial, Inc.
Location:  King of Prussia, PA 19406
Salary is not abailable.
ID:  89
Job Title:  Data Scientist
Company Name:  Surya Systems
Location:  Exton, PA
Salary is not abailable.
ID:  90
Job Title:  AI Machine Learning Engineering Asc - Entry Level
Company Name:  LOCKHEED MARTIN CORPORATION
Location:  King of Prussia, PA 19406+6 locations
Salary is not abailable.
ID:  91
Job Title:  US Data Scientist
Company Name:  GSK
Location:  Philadelphia, PA+9 locations
Salary is not abailable.
ID:  92
Job Title:  Scientist, Data Analytics
Company Name:  Johnson & Johnson Family of Companies
Location:  Malvern, PA 19355+1 location
Salary is not abailable.
ID:  93
Job Title:  Research Statistician I - Division of Orthopedic Surgery - C...
Company Name:  Children's Hospital of Philadelphia
Location:  Philadelphia, PA 19104 (University City area)
Salary is not abailable.
ID:  94
Job Title:  Senior Data Scientist
Company Name:  Essent Guaranty, Inc.
Location:  Radnor, PA 19087
Salary is not abailable.
ID:  95
Job Title:  Data Scientist- Natural Language Processing (NLP) Specializa...
Company Name:  Independence Blue Cross
Location:  Philadelphia, PA 19103 (Logan Square area)+1 location
Salary is not abailable.
ID:  96
Job Title:  Sports Statistician
Company Name:  Life Time
Location:  Fort Washington, PA 19034
Salary is not abailable.
ID:  97
Job Title:  Data Scientist - Nationwide Opportunities
Company Name:  Amazon Web Services, Inc.
Location:  Philadelphia, PA+1 location
Salary: $114,700 a year
ID:  98
Job Title:  Corporate Rotation Program - Data Science
Company Name:  PJM Interconnection, LLC
Location:  Audubon, PA•Temporarily Remote
Salary is not abailable.
ID:  99
Job Title:  Associate, Machine Learning & Data Analytics
Company Name:  FS Investments
Location:  Philadelphia, PA
Salary is not abailable.
ID:  100
Job Title:  Sr Data Analyst
Company Name:  Temple University Health System
Location:  Philadelphia, PA
Salary is not abailable.
ID:  101
Job Title:  Data Governance and Quality - Analytics & Cognitive Consulta...
Company Name:  Deloitte
Location:  Philadelphia, PA 19103 (Rittenhouse area)+2 locations
Salary is not abailable.
ID:  102
Job Title:  Data Scientist with Java & Python Exp
Company Name:  The GBS Group
Location:  Philadelphia, PA 19112 (Navy Yard area)
Salary is not abailable.
ID:  103
Job Title:  Associate Director – Data Scientist, Quantitative Science, C...
Company Name:  Merck
Location:  North Wales, PA•Remote
Salary is not abailable.
ID:  104
Job Title:  Senior Data Scientist, Crime and Justice Policy Lab
Company Name:  University of Pennsylvania
Location:  Philadelphia, PA 19104 (University City area)+1 location
Salary is not abailable.
ID:  105
Job Title:  Research Scientist, Data Products
Company Name:  ConcertAI
Location:  King of Prussia, PA 19406
Salary is not abailable.
ID:  106
Job Title:  Senior Data Scientist
Company Name:  Chubb INA Holdings Inc.
Location:  Philadelphia, PA 19106 (City Center East area)
Salary is not abailable.
ID:  107
Job Title:  Senior Data Scientist
Company Name:  Chubb INA Holdings Inc.
Location:  Philadelphia, PA 19106 (City Center East area)
Salary is not abailable.
ID:  108
Job Title:  Research Scientist, Data Products
Company Name:  ConcertAI
Location:  King of Prussia, PA 19406
Salary is not abailable.
ID:  109
Job Title:  Data Scientist
Company Name:  Dupont
Location:  Wilmington, DE 19803
Salary is not abailable.
ID:  110
Job Title:  Data Review Associate Scientist
Company Name:  Piper Companies
Location:  King of Prussia, PA
Salary: $20 - $30 an hour
ID:  111
Job Title:  Data Scientist
Company Name:  Publicis Health Media
Location:  Philadelphia, PA 19107 (Center City area)
Salary is not abailable.
ID:  112
Job Title:  Data Scientist/ Risk Modeler-Remote
Company Name:  Moody’s
Location:  West Chester, PA 19380•Remote
Salary is not abailable.
ID:  113
Job Title:  Machine Learning/Natural Language Generation Scientist
Company Name:  Choosito
Location:  Philadelphia, PA 19104 (University City area)
Salary is not abailable.
ID:  114
Job Title:  Data Scientist - Philadelphia, PA(Remote)
Company Name:  iknowvate technologies
Location:  Philadelphia, PA•Remote
Salary is not abailable.
ID:  115
Job Title:  Data Scientist / Machine Learning Engineer
Company Name:  Xylem
Location:  Philadelphia, PA 19103
Salary is not abailable.
ID:  116
Job Title:  Quantitative Researcher – PhD
Company Name:  Susquehanna International Group
Location:  Bala-Cynwyd, PA
Salary is not abailable.
ID:  117
Job Title:  Research Data Scientist
Company Name:  Nemours
Location:  Wilmington, DE 19803
Salary is not abailable.
ID:  118
Job Title:  Data Scientist
Company Name:  Kulicke and Soffa
Location:  Fort Washington, PA 19034
Salary is not abailable.
ID:  119
Job Title:  Data Strategy Practitioner
Company Name:  Accenture
Location:  Philadelphia, PA 19103 (Logan Square area)
Salary is not abailable.
ID:  120
Job Title:  Manager, Data Scientist 3
Company Name:  PayPal
Location:  Wilmington, DE 19810
Salary is not abailable.
ID:  121
Job Title:  Senior Data Analyst (Penn Immunology Institute)
Company Name:  University of Pennsylvania
Location:  Philadelphia, PA 19104 (University City area)+3 locations
Salary is not abailable.
ID:  122
Job Title:  Senior Workday Data Analyst and Report Developer
Company Name:  Wawa
Location:  Wawa, PA
Salary is not abailable.
ID:  123
Job Title:  Manager, Data Scientist 3
Company Name:  PayPal
Location:  Wilmington, DE 19810
Salary is not abailable.
ID:  124
Job Title:  Senior Data Scientist
Company Name:  Vanguard
Location:  Malvern, PA
Salary is not abailable.
ID:  125
Job Title:  Data Scientist
Company Name:  Recruiting From Scratch
Location:  Philadelphia, PA 19104 (Belmont area)+1 location•Remote
Salary is not abailable.
ID:  126
Job Title:  Research Statistician I
Company Name:  Children's Hospital of Philadelphia
Location:  Philadelphia, PA 19146 (Graduate Hospital area)
Salary is not abailable.
ID:  127
Job Title:  Vice President, Data Engineering
Company Name:  Cadent
Location:  Philadelphia, PA 19102 (City Center West area)•Remote
Salary is not abailable.
ID:  128
Job Title:  Data Scientist
Company Name:  RELX
Location:  Philadelphia, PA+1 location
Salary is not abailable.
ID:  129
Job Title:  Senior Associate, Data Scientist Engineer– Advisory Data Org...
Company Name:  KPMG
Location:  Radnor, PA+3 locations
Salary is not abailable.
ID:  130
Job Title:  Data & ML Engineer - Nationwide Opportunities
Company Name:  Amazon Web Services, Inc.
Location:  Philadelphia, PA+1 location
Salary is not abailable.
ID:  131
Job Title:  Assc Director - Data Scientist
Company Name:  Moody’s
Location:  West Chester, PA 19380+2 locations
Salary is not abailable.
ID:  132
Job Title:  Head of AI, Machine Learning, Data Science projects delivery...
Company Name:  Xen.ai
Location:  Philadelphia, PA•Remote
Salary is not abailable.
ID:  133
Job Title:  Chief Data Scientist Predictive Analytics
Company Name:  University of Pennsylvania Health System
Location:  Philadelphia, PA 19104 (University City area)
Salary is not abailable.
ID:  134
Job Title:  Machine Learning Engineer - Opportunity for Working Remotely...
Company Name:  VMware
Location:  Philadelphia, PA•Remote
Salary is not abailable.
ID:  135
Job Title:  AI Data Scientist
Company Name:  Resolution Life
Location:  West Chester, PA
Salary is not abailable.
ID:  136
Job Title:  AI Engineer - Hux
Company Name:  Deloitte
Location:  Philadelphia, PA 19103 (Rittenhouse area)
Salary is not abailable.

6. Reading data from MySql using pandas

In [99]:
def get_data_from_db_with_pandas(table_name):
    import mysql.connector

    import pandas as pd

    my_connection = mysql.connector.connect(
         host="localhost",
         user='sammy',
        password='dsci511',
        database='DSCI511'
    )

    df = pd.read_sql(f'SELECT * FROM {table_name}', my_connection)

    my_connection.close()
    return df

In [100]:
df = get_data_from_db_with_pandas('Company')
df

,id,job_title,company_name,location,salary,url
0,17,Data Scientist - Delta One Strats,Morgan Stanley,"New York, NY+3 locations",None,/cmp/Morgan-Stanley
1,18,Data Scientist II - Algorithmic Justice Specia...,American Civil Liberties Union,New York State+2 locations•Remote,"$115,638 a year",/cmp/American-Civil-Liberties-Union
2,19,Data Scientist,Alldus,"New York, NY+2 locations•Remote",None,None
3,20,Sr Data Scientist,The Trade Desk,"New York, NY 10003 (Greenwich Village area)",None,/cmp/The-Trade-Desk
4,21,Research Scientist-Center for Data Science,New York University,"New York, NY 10012 (Greenwich Village area)+4 ...",None,/cmp/New-York-University
...,...,...,...,...,...,...
85,132,"Head of AI, Machine Learning, Data Science pro...",Xen.ai,"Philadelphia, PA•Remote",None,None
86,133,Chief Data Scientist Predictive Analytics,University of Pennsylvania Health System,"Philadelphia, PA 19104 (University City area)",None,/cmp/University-of-Pennsylvania-Health-System
87,134,Machine Learning Engineer - Opportunity for Wo...,VMware,"Philadelphia, PA•Remote",None,/cmp/Vmware
88,135,AI Data Scientist,Resolution Life,"West Chester, PA",None,None
89,136,AI Engineer - Hux,Deloitte,"Philadelphia, PA 19103 (Rittenhouse area)",None,/cmp/Deloitte

Retrieve data from craigslist using house data as sample:
<p>Part 1: preparation</p>

In [14]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

The first url of our project:

In [13]:
url = "https://philadelphia.craigslist.org/d/for-sale/search/sss"

1. Define a function to get different locations we can use later

In [16]:
def get_locations(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    areas = soup.find('select', id='areaAbb')
    locations = {}
    for l in areas.find_all('option'):
        locations.update({l.text:l.get('value')})
    return locations

In [18]:
get_locations(url)

{'philadelphia': 'philadelphia',
 'albany, NY': 'albany',
 'allentown': 'allentown',
 'altoona': 'altoona',
 'annapolis': 'annapolis',
 'baltimore': 'baltimore',
 'binghamton': 'binghamton',
 'catskills': 'catskills',
 'central NJ': 'cnj',
 'charlottesville': 'charlottesville',
 'cumberland val': 'chambersburg',
 'delaware': 'delaware',
 'eastern CT': 'newlondon',
 'eastern shore': 'easternshore',
 'eastern WV': 'martinsburg',
 'elmira': 'elmira',
 'finger lakes': 'fingerlakes',
 'frederick': 'frederick',
 'fredericksburg': 'fredericksburg',
 'harrisburg': 'harrisburg',
 'harrisonburg': 'harrisonburg',
 'hartford': 'hartford',
 'hudson valley': 'hudsonvalley',
 'ithaca': 'ithaca',
 'jersey shore': 'jerseyshore',
 'lancaster, PA': 'lancaster',
 'long island': 'longisland',
 'new haven': 'newhaven',
 'new york': 'newyork',
 'norfolk': 'norfolk',
 'north jersey': 'newjersey',
 'northwest CT': 'nwct',
 'oneonta': 'oneonta',
 'poconos': 'poconos',
 'reading': 'reading',
 'richmond, VA': 'richmond',
 'scranton': 'scranton',
 'south jersey': 'southjersey',
 'southern MD': 'smd',
 'state college': 'pennstate',
 'syracuse': 'syracuse',
 'utica': 'utica',
 'washington, DC': 'washingtondc',
 'western mass': 'westernmass',
 'western MD': 'westmd',
 'williamsport': 'williamsport',
 'winchester': 'winchester',
 'york, PA': 'york'}

2. Define a function to retrieve different subjects

In [21]:
def get_subjects(url):
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    catAbb = soup.find('select', id='catAbb')
    catabbs = {}
    for cat in catAbb.find_all('option'):
        catabbs[cat.text]=cat.get('value')
    return catabbs

In [22]:
get_subjects(url)

{'community': 'ccc',
 'events': 'eee',
 'for sale': 'sss',
 'gigs': 'ggg',
 'housing': 'hhh',
 'jobs': 'jjj',
 'resumes': 'rrr',
 'services': 'bbb'}

3. Define a function to get the categories

In [23]:
def get_categories(city, catabb):
  url = f"https://{city}.craigslist.org/d/for-sale/search/{catabb}"
  
  page = requests.get(url)
  soup = BeautifulSoup(page.text,'html.parser')
  category = soup.find('select', id = 'subcatAbb')
  categories = {}
  for c  in category.find_all('option'):
      categories[c.text] = c.get('value')
  return categories

4. Find the Philadelphia area house categories

In [25]:
categories = get_categories("Philadelphia", "hhh")
categories

{'all': 'hhh',
 'apartments / housing for rent': 'apa',
 'housing swap': 'swp',
 'office & commercial': 'off',
 'parking & storage': 'prk',
 'real estate - by broker': 'reb',
 'real estate - by owner': 'reo',
 'rooms & shares': 'roo',
 'sublets & temporary': 'sub',
 'vacation rentals': 'vac',
 'wanted: apts': 'hou',
 'wanted: real estate': 'rew',
 'wanted: room/share': 'sha',
 'wanted: sublet/temp': 'sbw'}

5. Define a function that we can get data from different locations and differents categories:

In [33]:
def get_housing_info(city, cat):
    url = f"https://{city}.craigslist.org/search/{cat}"
    page = requests.get(url)
    soup = BeautifulSoup(page.text,'html.parser')
    table = soup.find('ul', id="search-results")
    lis = table.find_all('li',{"class":"result-row"})
    houses = []
    for li in lis:
        if li.find('time'):
            time = li.find('time').get('datetime')
        else:
            time=None
        if li.find('a', {"class":"result-title hdrlnk"}):
            
            url = li.find('a', {"class":"result-title hdrlnk"})['href']
        else:
            url = None
        if li.find('a', {"class":"result-title hdrlnk"}):
            detail = li.find('a', {"class":"result-title hdrlnk"}).text
        else:
            detail = None
        if li.find('span',{'class':"result-price"}):
            
            price = li.find('span',{'class':"result-price"}).text
        else:
            price = None
        if li.find('span',{"class":"result-hood"}):
            
            location = li.find('span',{"class":"result-hood"}).text
        else:
            location = None
        if li.find('span',{"class":"housing"}):
            beds_fts = li.find('span',{"class":"housing"}).text
        else:
            beds_fts = None
        houses+=[(detail, location, price, beds_fts, url)]
    return houses

In [37]:
houses = get_housing_info('Philadelphia', 'reb')  # All house data from broker

6. Function to process the raw data

In [38]:
def processing_data(houses):
    import re
    new_houses =[]
    for house in houses:
        descript = house[0]
        location = house[1]
        if house[3]:
            bedroom = re.search(r'\d+br', house[3])
            if bedroom:
                bedroom = bedroom.group(0)
            else:
                bedroom='NA'
            room_sqr_ft = re.search(r'\d+ft', house[3])
            if room_sqr_ft:
                room_sqr_ft = re.search(r'\d+ft', house[3]).group(0)[:-2]
            else:
                room_sqr_ft = 'NA'
        if house[2]:
            price = house[2].replace('$',"").replace(',',"")
        else:
            price = 0
    
        new_houses +=[(descript,location, bedroom, room_sqr_ft,price)]   
    return new_houses

In [44]:
new_houses = processing_data(houses)

7. Function to store the data into database

In [48]:
def store_data_into_MySQL(house_list):
    import mysql.connector
    try:
        connection = mysql.connector.connect(host='localhost',
                                        database='DSCI511',
                                        user='sammy',
                                        password='dsci511')
        mysql_insert_query = """INSERT INTO Houses (description,location,bedroom, room_sqr_ft, price) VALUES (%s,%s,%s,%s,%s)"""
    
    
        cursor = connection.cursor()
        cursor.executemany(mysql_insert_query, house_list)
        connection.commit()
        print(cursor.rowcount, "Record inserted successfully into MySQL table")
    
    except mysql.connector.Error as error:
        print(error)
    finally:
        if connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection is closed")

In [49]:
store_data_into_MySQL(new_houses)

120 Record inserted successfully into MySQL table
MySQL connection is closed

8. Reading data from MySql using pandas

In [50]:
def get_data_from_db_with_pandas(table_name):
    import mysql.connector

    import pandas as pd

    my_connection = mysql.connector.connect(
         host="localhost",
         user='sammy',
        password='dsci511',
        database='DSCI511'
    )

    df = pd.read_sql(f'SELECT * FROM {table_name}', my_connection)

    my_connection.close()
    return df

In [51]:
get_data_from_db_with_pandas("Houses")

,id,description,location,bedroom,room_sqr_ft,price
0,1,Finest ranch style living with ultra privacy,(Minutes away ),3br,NA,995000
1,2,Prime Princeton Estate,(Princeton ),3br,NA,999999
2,3,EST. AUTO REPAIR on 5.62 Acres close to area b...,(Cape May Court House ),3br,NA,299900
3,4,Vacant Lot Near Wildwood Beaches!...Residentia...,(Rio Grande ),3br,NA,119900
4,5,Great Cash Flow on Turnkey 5 Unit Year Round B...,(Wildwood Crest ),6br,NA,675000
...,...,...,...,...,...,...
115,116,MONTCO Cash Buyer Alert!!,(Norristown ),4br,1530,65000
116,117,Gem In The Rough,(West Oak Lane ),3br,1280,135000
117,118,4 bedroom home in the heart of Royersford,"(Royersford, PA )",4br,2112,0
118,119,Quiet Neighborhood Gem,"(Pottstown, PA )",4br,1081,0
119,120,Large Private Lot,"(Pottstown, PA )",3br,1861,0